@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color1: #000000;
    --color2: #F6F6F6;
    --color3: #0a23b1;
    --background: #272727;
    --fonte-primaria: 'Do Hyeon', sans-serif;
    --fonte-secundaria: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    z-index: -1;
    color: var(--color2);
    font-family: var(--fonte-secundaria);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/background.png');
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.header {
    padding: 2% 0 0 15%;
}

.header-menu {
    display: flex;
    gap: 80px;
}

.header-menu-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color3);
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 0 0 0 10px;
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation-content-title {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.title-highlight {
    color: var(--color3);
}

.presentation-content-text {
    font-size: 1.5rem;
}

.presentation-image-container {
    display: inline-block;
    border: 3px solid var(--color3);
    border-radius: 16px;
}

.presentation-image {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    left: -15px;
    top: 15px;
}

.presentation-skills {
    height: 50%;
    width: 50%;
    display: flex;
    gap: 20px;
}

.footer {
    color: var(--color2);
    background-color: var(--color1);
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
        border: 1px solid var(--color2);
    }

    .header-menu {
        justify-content: center;
    }

    .header-menu-link:focus {
        outline: 2px solid white;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation-content {
        width: auto;
    }
}

.second-word {
    color: var(--color3);
}

a {
    text-decoration: none;
}

.icons {
    fill: transparent;
    stroke: var(--color3);
}

.presentation-links-navigation {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color3);
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px 0 0 10px;
}

.big-text {
    font-size: 30px;
}